header {
    margin-top: 150px;
}
header h1 {
    font-size: 96px;
    color: var(--Red-small);
    text-align: center;
}

.main-input {
    margin-top: 24px;

    display: flex;
    flex-direction: row;
}

header input {
    height: 48px;
    width: 36vw;
    border-radius: 2px;
    border: none;
    border-color: var(--Grey-200);
    padding: 20px 20px 20px 48px;

    font-size: 24px;
}

header input:focus {
    outline: 3px solid var(--Red-small);
    box-shadow: 1px 1px 20px var(--Red-small);
}