li {
    list-style-type: none;
    height: 48px;
    width: 36vw;
    font-size: 24px;

    background: var(--White);
}

.li-inner {
    padding: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    height: 100%
}

.li-inner input {
    width: 25px;
    height: 25px;

    cursor: pointer;
}

.li-inner button {
    background: inherit;
    border: none;

    width: 15px;
    height: 15px;

    cursor: pointer;
}

.button__cross img{
    width: 15px;
    height: 15px;
}

.task__input-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.task-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.task-footer button {
    background: inherit;
    color: var(--Black);

    font-family: 'Roboto p-big', sans-serif;
    font-size: 16px;

    border: none;
    

    cursor: pointer;

}
.hide {
    display: none;
}
